apiVersion: apps/v1
kind: StatefulSet
metadata:
   name: order-placement-pg
   namespace: storages
spec:
   serviceName: order-placement-pg
   replicas: 1
   selector:
      matchLabels:
         app: order-placement-pg
   template:
      metadata:
         labels:
            app: order-placement-pg
      spec:
         containers:
            - name: order-placement-pg
              image: postgres:15-alpine
              args:
                 - "-c"
                 - "wal_level=logical"
                 - "-c"
                 - "max_replication_slots=10"
                 - "-c"
                 - "max_wal_senders=10"
              env:
                 - name: POSTGRES_USER
                   value: postgres
                 - name: POSTGRES_PASSWORD
                   value: postgres
                 - name: POSTGRES_DB
                   value: mydatabase
                 - name: PGDATA
                   value: /var/lib/postgresql/data/pgdata
              volumeMounts:
                 - name: db-storage
                   mountPath: /var/lib/postgresql/data
   volumeClaimTemplates:
      - metadata:
           name: db-storage
        spec:
           accessModes: ["ReadWriteOnce"]
           resources:
              requests:
                 storage: 1Gi
           storageClassName: local-path
---
apiVersion: v1
kind: Service
metadata:
   name: order-placement-pg-db
   namespace: storages
spec:
   clusterIP: None
   selector:
      app: order-placement-pg
   ports:
      - protocol: TCP
        port: 5432
        targetPort: 5432
---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
   namespace: storages
   name: allow-order-placement-service-to-db
spec:
   podSelector:
      matchLabels:
         app: order-placement-pg
   policyTypes:
      - Ingress
   ingress:
      - from:
           - namespaceSelector:
                matchLabels:
                   name: services
        ports:
           - protocol: TCP
             port: 5432
---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: allow-kafka-to-order-placement-db
  namespace: storages
spec:
  podSelector:
    matchLabels:
      app: order-placement-pg
  policyTypes:
    - Ingress
  ingress:
    - from:
        - namespaceSelector:
            matchLabels:
              name: kafka
      ports:
        - protocol: TCP
          port: 5432