apiVersion: apps/v1
kind: Deployment
metadata:
   name: kafka-ui
   namespace: kafka
spec:
   replicas: 1
   selector:
      matchLabels:
         app: kafka-ui
   template:
      metadata:
         labels:
            app: kafka-ui
      spec:
         containers:
            - name: kafka-ui
              image: provectuslabs/kafka-ui:latest
              ports:
                 - containerPort: 8080
                   name: kafka-ui

              # volumeMounts:
              #    - name: kafka-ui-config
              #      mountPath: /var/lib/kafka/data
              resources:
                 limits:
                    memory: "512Mi"
                    cpu: "500m"
                 requests:
                    memory: "256Mi"
                    cpu: "100m"
              env:
                 - name: DYNAMIC_CONFIG_ENABLED
                   value: "true"
                 - name: KAFKA_CLUSTERS_0_NAME
                   value: local
                 - name: KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS
                   value: kafka-cluster-kafka-bootstrap:9092
                 - name: KAFKA_CLUSTERS_0_KAFKACONNECT_0_ADDRESS
                   value: http://connect:8083
---
apiVersion: v1
kind: Service
metadata:
   name: kafka-ui-service
   namespace: kafka
spec:
   selector:
      app: kafka-ui
   ports:
      - name: kafka-ui
        protocol: TCP
        port: 9099
        targetPort: 8080
   type: LoadBalancer
