apiVersion: kafka.strimzi.io/v1
kind: KafkaConnector
metadata:
   name: debezium-connector-create-order
   namespace: kafka
   labels:
      strimzi.io/cluster: debezium-connect-cluster
spec:
   class: io.debezium.connector.postgresql.PostgresConnector
   tasksMax: 1
   autoRestart:
      enabled: true
   config:
      tasks.max: 1
      slot.name: debezium_order_placement_slot
      snapshot.mode: initial
      publication.autocreate.mode: filtered

      database.hostname: order-placement-pg-db.storages
      database.port: 5432
      database.user: postgres
      database.password: postgres
      database.dbname: mydatabase
      plugin.name: pgoutput

      topic.prefix: order-placement-pg
      table.include.list: public.orders

      schema.history.internal.kafka.bootstrap.servers: kafka-cluster-kafka-bootstrap.kafka.svc.cluster.local:9092
      schema.history.internal.kafka.topic: schema-changes.orders

      transforms: unwrap,route

      transforms.unwrap.type: io.debezium.transforms.ExtractNewRecordState
      transforms.unwrap.drop.tombstones: true
      transforms.unwrap.delete.handling.mode: drop

      transforms.route.type: org.apache.kafka.connect.transforms.RegexRouter
      transforms.route.regex: order-placement-pg.public.orders
      transforms.route.replacement: order-created
