apiVersion: v1
kind: Namespace
metadata:
   name: storages
   labels:
      name: storages
---
apiVersion: v1
kind: Namespace
metadata:
   name: services
   labels:
      name: services
---
apiVersion: v1
kind: Namespace
metadata:
   name: minio
   labels:
      name: minio
---
apiVersion: v1
kind: Namespace
metadata:
   name: gateway
   labels:
      name: gateway
---
apiVersion: v1
kind: Namespace
metadata:
   name: opa
   labels:
      name: opa
---
apiVersion: v1
kind: Namespace
metadata:
   name: kafka
   labels:
      name: kafka
