apiVersion: apps/v1
kind: Deployment
metadata:
   name: search-service
   namespace: services
spec:
   replicas: 1
   selector:
      matchLabels:
         app: search
   template:
      metadata:
         labels:
            app: search
      spec:
         containers:
            - name: search
              image: rengumin/search-svc:1.0
              ports:
                 - containerPort: 8080
              env:
                 - name: DB_HOST
                   value: "products-pg-db.storages"
                 - name: DB_PORT
                   value: "5432"
                 - name: DB_USER
                   value: postgres
                 - name: DB_PASSWORD
                   value: postgres
                 - name: DB_NAME
                   value: mydatabase
                 - name: SERVER_PORT
                   value: ":8080"
              resources:
                 requests:
                    cpu: "250m"
                    memory: "128Mi"
                 limits:
                    cpu: "500m"
                    memory: "256Mi"
              livenessProbe:
                 httpGet:
                    path: /health
                    port: 8080
                 initialDelaySeconds: 30
                 periodSeconds: 10
              readinessProbe:
                 httpGet:
                    path: /health
                    port: 8080
                 initialDelaySeconds: 10
                 periodSeconds: 5

---
apiVersion: v1
kind: Service
metadata:
   name: search-svc
   namespace: services
spec:
   type: ClusterIP
   selector:
      app: search
   ports:
      - protocol: TCP
        name: http
        port: 8080
        targetPort: 8080
